
#boxred{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: red;
}

#boxpurple{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    right: 0px;
    bottom: 370px;
    background-color: purple;
}

#boxyellow{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    bottom: 470px;
    background-color:yellow;
}

#boxblue {
    position: relative;
    width: 400px;
    height: 400px;
    top: 50px;
    background-color: blue;
}

#boxgreen {
    position: relative;
    width: 200px;
    height: 200px;
    left: 100px;
    right: 10px;
    bottom: 250px;
    background-color:green
    ;
}

#boxblack {
    position: relative;
    width: 100px;
    height: 100px;
    left: 0px;
    bottom: 550px;
    background-color: black ;
}
